<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
 	 <nav>
 	 	<ul>
 	 		<li><button>New Entry</button></li>
 	 		<li><button>Log Out</button></li>
 	 		<li><button>?</button></li>
 	 	</ul>
 	 </nav>
 	 <main>
 	 	<ul class="entries">
 	 		<li>
 	 			<p><em>Feb 9, 2019</em></p>
 	 			<p><strong>Working on:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
 	 			<p><strong>Feelings on it: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur turpis porttitor, volutpat tortor et, dignissim nisi. Donec arcu erat, dignissim vel molestie non, viverra eget leo. Ut vitae est diam. </p>
 	 			<p><strong>Looking forward to:</strong> Donec arcu erat, dignissim vel molestie non, viverra eget leo. Ut vitae est diam.</p>
 	 		</li>
 	 		<li>
 	 			<p><em>Feb 8, 2019</em></p>
 	 			<p><strong>Working on:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
 	 			<p><strong>Feelings on it: </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur turpis porttitor, volutpat tortor et, dignissim nisi. Donec arcu erat, dignissim vel molestie non, viverra eget leo. Ut vitae est diam. </p>
 	 			<p><strong>Looking forward to:</strong> Donec arcu erat, dignissim vel molestie non, viverra eget leo. Ut vitae est diam.</p>
 	 		</li>
 	 	</ul>
 	 </main>
 	</body>
</html>
